body{
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;     /* Centraliza horizontalmente */
  min-height: 100vh;
}


h1.titulo{
    color: rgb(12, 12, 12);
    font-size: 32px;
text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

h1.coraçao {
  color: red;
  font-size: 58px;
  text-align: center; /* Centraliza o texto */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



button.botao{
    background-color: white;
    color: rgb(248, 162, 177);
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button.botao-proximo{
    background-color: white;
    color: rgb(248, 162, 177);
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.botao-voltar{
    background-color: rgba(243, 240, 240, 0.219);
    color: rgba(27, 27, 27, 0.89);
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 35%;
    right: 100vh;
}

button.botao-enviar{
    background-color: white;
    color: rgb(248, 162, 177);
    font-size: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .mensagem {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    text-align: center;    estava dando erro no campo p.texto
} */



/* ----------------- parte fotos juntas e houver -------------------------- */

 .galeria {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-top: 30px;
    }
    .galeria img {
      width: 350px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
    }
    .galeria:hover {
      transform: scale(1.05);
      transition: transform 0.3s;
    }

/* --------------------- parte fotos soltas e houver -------------------------- */


.mensagem-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-4 {
border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-4 {
  font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;
}


.mensagem-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-5 {
  border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-5 {
  font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;
}


.mensagem-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-6 {
 border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-6 {
   font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;
}   


    .mensagem-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-7 {
  border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-7 {
   font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;}
    
    .mensagem-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-8 {
 border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-8 {
 font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;
}
.mensagem-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-9 {
  border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-9 {
   font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;
}
.mensagem-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-10 {
 border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-10 {
  font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;
}


.mensagem-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* Espaço entre a foto e o texto */
  margin-top: 30px;
}

.foto-11 {
 border-radius: 10px;
      box-shadow: 0 5px 15px rgba(248, 247, 247, 0.2);
}

.texto-11 {
  font-size: 24px;
        box-shadow: 0 5px 15px rgba(8, 8, 8, 0.637);
        border: solid 2px rgba(250, 248, 248, 0.103);
        border-radius: 12px;
}






